.dropzone, .thumbnail > div {    
    height: 235.5px;
    outline: none;
    border-radius: 20px;
}

.dropzone {    
    display: flex;
    justify-content: center;
    align-items: center;

    background: #F4F4F4;
    border: 1px dashed #CEC9C9;    
}

.selected-image {
    width: 100%;
    height: 100%;

    border-radius: 20px;
}

.dropzone div {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 200;
    font-size: 16px;
}

.dropzone svg {
    position: relative;
    bottom: 20px;
    width: 24px;
    height: 24px;
}

.dropzone div button {
    margin-top: 7px;
    padding: 5px;
    
    font-size: 15px;
    line-height: 20px;

    color: #F4F4F4;
    background: #000000;

    border: none;
    border-radius: 10px;
    transition: all 0.2s;
}

.dropzone div button:hover {
    opacity: 0.6;
}

.dropzone div button:focus {
    outline: none;
}

.thumbnail > div {
    box-shadow: 0 0 3pt 2pt RGBA(60, 220, 141, 0.6);    
}

.thumbnail > div > svg {
    position: absolute;
    top: 3px;
    right: 5px;

    color: rgba(255, 0, 0, 0.726);
    width: 24px;
    height: 24px;
}

.thumbnail > div > svg:hover {
    opacity: 0.5;
}

.thumbnail:focus {
    outline: none;
}