/* Top bar menu */

header {
    position: fixed;

    width: 100%;
    height: 6.0625rem;

    display: flex;    
    justify-content: space-around;
    align-items: center;

    background: #f4f4f4;
    box-shadow: 0px 3.74817px 9.37042px 1.87408px rgba(0, 0, 0, 0.25);

    z-index: 1;
}

.content-wrapper {
    position: relative;
    
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

button.menu {
    width: 36px;
    height: 35px;
    
    right: 17px;

    border: none;
    border-radius: 60px;

    transition: all 0.5s;
}

button.menu:hover {
    background: rgb(0, 0, 0);
    color: white;
}

.logo {
    margin-top: 2px;

    width: 136px;
    height: 26px;

    text-decoration: none;
    color: black;
}

.logo span {
    padding-left: 20px;
    padding-bottom: 4px;

    font-weight: bold;
}

.search {
    left: 40px;
    cursor: text;
}

#search-icon {
    position: absolute;
    left: 13px;
    
    /* position: relative;        
    left: 36px; */
}

input {
    width: 436px;
    height: 47px;

    padding-left: 50px;

    opacity: 0.5;
    
    background: #f4f4f4;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
}

input:not(:placeholder-shown) {
    opacity: 1;
}

.settings {
    width: 35px;
    height: 35px;
    
    right: 30px;

    border: none;
    border-radius: 60px;

    transition: all 0.5s;
}

.settings:hover {
    background-color: black;
    color: white;
}

.log-in {
    top: 1px;
    left: 60px;
    border: none;    

    line-height: 26px;
    font-weight: bold;
    font-size: 19px;    

    display: inline-block;
}

.log-in::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: black;

    transform: scaleX(0);
    transform-origin: right;    
    transition: transform .25s ease-in;
}

.log-in:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.sing-up {
    width: 95px;
    height: 47px;

    font-weight: bold;
    line-height: 26px;
    color: #FFF;

    background: #000000;

    border: none;
    border-radius: 4px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.sing-up:hover {
    opacity: 0.6;
}

/* side bar */

nav {
    position: fixed;
    top: 100px;   
    
    width: 83px;
    height: 720px;
    
    border: 1px solid #E8E8E3;
    border-style: none solid none none;

}

ul {
    list-style-type: none;
    margin-top: 30px;
}

.link {
    width: 83px;
    height: 61px;
    
    color: black;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    opacity: 0.5;
    transition: all 0.2s;
}

.link:hover {
    opacity: 1;
}

.active-link{
    opacity: 1;
    background: #def9da;
}

.link span {
    padding-top: 8px;
    font-size: 12px;
}