/* Top bar menu */

header {
    position: fixed;

    width: 100%;
    height: 6.0625rem;

    display: flex;    
    justify-content: space-around;
    align-items: center;

    background: #f4f4f4;
    box-shadow: 0rem 0.234260625rem 0.58565125rem 0.11713rem rgba(0, 0, 0, 0.25);

    z-index: 1;
}

.content-wrapper {
    position: relative;
    
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

button.menu {
    width: 2.25rem;
    height: 2.1875rem;
    
    right: 1.0625rem;

    border: none;
    border-radius: 3.75rem;

    transition: all 0.5s;
    background: #F4F4F4;
}

button.menu:hover {
    background: rgb(0, 0, 0);
    color: white;
}

.logo {
    margin-top: 0.125rem;

    width: 8.5rem;
    height: 1.625rem;

    text-decoration: none;
    color: black;
}

.logo span {
    padding-left: 1.25rem;
    padding-bottom: 0.25rem;

    font-weight: bold;
}

.search {
    left: 2.5rem;
    cursor: text;
}

#search-icon {
    position: absolute;
    left: 0.8125rem;
    
    /* position: relative;        
    left: 36px; */
}

input {
    width: 27.25rem;
    height: 2.9375rem;

    padding-left: 3.125rem;

    opacity: 0.5;
    
    background: #f4f4f4;

    border: 0.0625rem solid #000000;
    box-sizing: border-box;
    border-radius: 0.375rem;
}

input:not(:placeholder-shown) {
    opacity: 1;
}

.settings {
    width: 2.1875rem;
    height: 2.1875rem;
    
    right: 1.875rem;

    border: none;
    border-radius: 3.75rem;

    transition: all 0.5s;

    background: #F4F4F4;
}

.settings:hover {
    background-color: black;
    color: white;
}

.log-in {
    top: 0.0625rem;
    left: 3.75rem;
    border: none;    

    line-height: 1.625rem;
    font-weight: bold;
    font-size: 1.1875rem;    

    display: inline-block;
    background: #F4F4F4;
}

.log-in::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.125rem;
    background: black;

    transform: scaleX(0);
    transform-origin: right;    
    transition: transform .25s ease-in;
}

.log-in:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.sing-up {
    width: 5.9375rem;
    height: 2.9375rem;

    font-weight: bold;
    line-height: 1.625rem;
    color: #FFF;

    background: #000000;

    border: none;
    border-radius: 0.25rem;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.sing-up:hover {
    opacity: 0.6;
}

/* side bar */

nav {
    position: fixed;
    top: 6.25rem;   
    
    width: 5.1875rem;
    height: 45rem;
    
    border: 0.0625rem solid #E8E8E3;
    border-style: none solid none none;

}

ul {
    list-style-type: none;
    margin-top: 1.875rem;
}

.link {
    width: 5.1875rem;
    height: 3.8125rem;
    
    color: black;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    opacity: 0.5;
    transition: all 0.2s;
}

.link:hover {
    opacity: 1;
}

.active-link{
    opacity: 1;
    background: #def9da;
}

.link span {
    padding-top: 0.5rem;
    font-size: 0.75rem;
}