

.featured {
    position: absolute;

    top: 7.8125rem;
    left: 10rem;          
}

.feed  {
    position: absolute;

    width: 62.5rem;

    top: 11.25rem;
    left: 10rem;  
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

article {
    width: 18.75rem;
    height: 18.4375rem;  
    
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
}

.image {
    width: 18.75rem;
    height: 9.1875rem;

    background-color: gray;

    margin-bottom: 0.5625rem;
}

.tag {
    font-size: 1.1875rem;    
    color: red;
}

.title {
    margin-top: 0.6875rem;
    margin-bottom: 1.25rem;

    font-weight: bold;
    font-size: 1.3125rem;    
}

.post-time {
    color: gray;
}