.featured {
    position: absolute;

    top: 7.8125rem;
    left: 10rem;          
}

.feed  {
    position: absolute;

    width: 62.5rem;

    top: 11.25rem;
    left: 10rem;  
    
    display: flex;    
    flex-wrap: wrap;    
}

.articles {
    width: 18.75rem;
    height: 18.4375rem;  
    
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    margin-left: 33px;
}

.image {
    width: 18.75rem;
    height: 9.1875rem;

    background-color: gray;

    margin-bottom: 0.5625rem;

    cursor: pointer;
}

.tag {
    font-size: 1.1875rem;    
    color: red;
    cursor: pointer;
}

.tag:hover {
    color: #838383;
    text-decoration: solid underline #838383 2px;    
}

.title {
    margin-top: 0.6875rem;
    margin-bottom: 1.25rem;

    font-weight: bold;
    font-size: 1.3125rem; 
    cursor: pointer;   
}

.post-time {
    color: gray;
}

.post-time strong {
    cursor: pointer;
}