.write-article {
    position: absolute;
    
    top: 7.8125rem;
    left: 10rem;
}

.form-image, .article {    
    position: absolute;            
    width: 80vw;

    top: 170px;
    left: 10rem;

    padding: 42px 30px;

    border-radius: 20px;        
}

.form-image {    
    background-image: url('../images//gray-image.png');
    filter: blur(10px);

    padding-bottom: 1154.5px;    
}

.article {           
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 23vh 1fr 23vh 90vh 10vh;
    grid-template-areas: "a u"
                         "t u"
                         "ta ta"
                         "c c"
                         "b .";    
}

.article div > input, .article div > textarea {
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-weight: 200;

    background: #F4F4F4;
}

.article div > input:focus, .article div > textarea:focus {
    outline: none;
    box-shadow: 0 0 3pt 2pt rgba(206, 201, 201, 0.38);    
}

.container > form > div {     
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.container > form > div > label, .alert-icon {
    font: 600 20px Nunito, sans-serif;
    margin-bottom: 7px;
}

.alert-icon svg {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    
    color: rgb(228, 228, 11);

    transition: all 0.2s;
}

.alert-icon svg:hover {
    opacity: 0.4;
}

.author {
    grid-area: a;
}

.title {
    grid-area: t;      
    margin-top: 0;     
}

.title textarea {        
    resize: none;    
    width: 90%;
}

.upload-image {
    grid-area: u;  
}

.tags {
    grid-area: ta;
}

.content {
    grid-area: c;
}

.content textarea {
    resize: none;

}

.submit {
    grid-area: b;

    background: black;
    color: #F4F4F4;
    font-size: 25px;

    width: 250px;

    border: none;
    border-radius: 10px;
    transition: all 0.2s;
}

.submit:hover {
    opacity: 0.6;
}

.submit:focus {
    outline: none;
}